 <div>
        <div class="container">
        <nav class="navbar navbar-inverse navbar-fixed-top" data-offset-top="0">
                  <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Favoured Images</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Portfolio<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Photos</a></li>
                        <li><a href="#">Video</a></li>
                        <li><a href="#">Presentations</a></li>
                    </ul>
                </li>
                <li><a href="#">Billing</a></li>
                <li><a href="#">Services</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
                  </div>
        </nav>

                    </div>

    </div>